/*Admin css*/
body{
	background-color:rgb(243, 243, 243);
}
.admin{
	font-size: 20px;
	float:right;
	margin-top:-40px;
}
#menu{
	width:100%;
	margin-top:-40px;
	margin-left:400px;
}
.active{
	background-color:rgb(230, 230, 230);
}
#menu li a{
	color:rgb(73, 73, 73);
}
/*Manage Song Page*/
.SongManagePage{
	height:100%;
	margin-top:100px;
	overflow-y:auto;
}
.PlaylistSong,.ListUser{
	width:800px;
}
.list-group{
	height:430px;
	overflow-y:auto;
}
.list-group-item{
	margin-left:35px;
}
.block{
	float:right;
	margin-top:-5px;
}
.btnBlocks{
	width:30px;
	height:30px;
}
.btnUnBlocks{
	width:30px;
	height:30px;
}
/*Manage User Page*/
.UserManagePage{
	margin-top:100px;
	display:none;
}
/*Manage Autoplay Song Page*/
.AutoPlaySongPage{
	margin-top:100px;
	display:none;
}
.form-control{
margin-top:10px;
margin-bottom:10px;
margin-left:-250px;
width:200px;
}
.label-form{
float:left;
margin-top:10px;
margin-left:30px;
}
.error{
color:red;
float:right;
margin-right:10px;
margin-top:-40px;
}
.checkbutton{
margin-left:-200px;
}
#add-error{
margin-top:20px;
margin-right:50px;
}
#radio-error{
	margin-top:10px;
}
#duration-error{
	margin-top:-35px;
}
#selectsong{
margin-left:-260px;
}
#setsongortime{
margin-left:-280px;	
}
.btnAdd{
margin-top:10px;
margin-left:50px;
}
.afterAdd{
	margin-left:150px;
}
#Autoplaylist{
margin-top:-220px;
float:right;
}
#delete{
	font-size:10px;
	margin-top:-5px;
}
/*Master/Slave song page*/
.ControlPage{
	margin-top:100px;
	display:none;
}
/*Division page*/
.divisonpage{
	width:800px;
}
.pagination-digg li{
border:0; margin:0; padding:0;
font-size:15px;
list-style:none;
margin-right:2px;
}
 
.pagination-digg a{
border:solid 1px #9aafe5
margin-right:2px;
}
 
.pagination-digg .previous-off,
.pagination-digg .next-off{
border:solid 1px #DEDEDE
color:#888888
display:block;
float:left;
font-weight:bold;
margin-right:2px;
padding:3px 4px;
}
 
.pagination-digg .next a,
.pagination-digg .previous a{
font-weight:bold;
}
 
.pagination-digg .active{
background:#2e6ab1;
color:#FFFFFF;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
 
.pagination-digg a:link,
.pagination-digg a:visited{
color:#0e509e
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
 
.pagination-digg a:hover{
border:solid 1px #0e509e
}