.modal-content { 
	background-color:rgba(241,89,39,1); 
}

.modal-title{
	color: #fbcdbd;
	font-weight: bold;
}

.modal-content input{
	border-radius:40px;
	padding: 10px 15px;
	margin: 5px;
	width: 250px;
	border: none;
}

#btnChangePass{
	margin-top: 10px;
}

.modal-footer{
	text-align: center;
}

/*center dialog*/
.modal {
  text-align: center;
}
@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}