/*countdown form*/
#countdown-form{
	position: absolute;
	text-align: center;
	vertical-align: center;
	margin-top: 160px;	
	background-color:  rgba(0,0,0,0.9);
	border-radius: 0 20px 20px 0;
	width: 330px;
	height: 78px;
	cursor: pointer;
	/*
	border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
	*/
}

#countdown-form label{
	color: white;
}

#countdown-form #countdown{	
	position: absolute;
	color: #fff;
	font-size:50px;
	padding: 0 20px;
	margin-left: -160px;
	cursor: pointer;
}
#countdown-form #countdown .seconds,
#countdown-form #countdown .minutes,
#countdown-form #countdown .hours
{
	cursor: pointer;
}

#imgClock{
	position: absolute;
	margin: 20px 20px 20px 113px;
}

.isHiding{
	left: -265px;
}