html,body {
    width: 100%;
    height: 100%;
}

section {
	display: table;
	position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg3.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar{
	border: none;
	margin: 0;
}

#search-input{
	border-radius:40px;
	width:400px;
	padding-left: 30px;
}

/* search form */
.form-group {
	margin-left: -175px;
}

.btn-danger{
	background: #e59400;
}
.btn-danger:hover{
	background: #cc8400;
}
.btn-danger:active,.btn-danger:focus,.btn-danger:target{
	background: #996300;
}

/*user group*/
#user-group{
	float: right;
	margin: -44px 0 0 0;
}

#vote-count{
	background-image: url(../img/star.png);
	height: 35px;
	width: 35px;
	padding: 9px;
	margin-right: 5px;
	text-align:center;
	color: #b20000;
}

#vote-count:hover{
	transform: scale(1.1);
}

#lbl-username{
	font-weight:bold;
	font-family:arial, serif;
	color: #fbcdbd;
	font-size:15px;
	line-height:200%;
}

/*lists*/
#title-favorite-list,
#title-results-list{
	cursor: pointer;
}

.container{
	margin-top: -30px;	
	display: table-cell;
    vertical-align: middle;
}

.center-form{	
	display: table-cell;
    vertical-align: middle;
}

.playlist-form-to-right{
	width:50%;
	float:right;
}

.playlist-form-to-center{
	width:100%;
	float:right;
	padding: 0 100px;
}

.result-form-to-left{	
	width:50%;
	float:left;	
	display:none;/*will be lost when call fadeIn()*/
	position:absolute;/*will be lost when call fadeIn()*/
}

.list-group{
	height: 430px;
	overflow-y: auto;
	background-color:rgba(255,165,0,0.2);
    padding: 20px;
	margin-bottom: -30px;
	text-align: center;
}
/*
#list-group{	
	border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;	
	border-radius: 15px;
}*/

.list-group-item{
	background-color:rgba(0,0,0,0.7);
	padding:15px;
	color: white;
	border: none;
	margin: 5px 0;
	vertical-align: middle;
}

.songTitleInList a{
	color: white;
	text-decoration: none;
}
.songTitleInList a:hover{
	cursor: pointer;
}

/*change priority color*/
.label-danger{
	background-color: rgba(241,89,39,0.3);
}
#list-group #priority{
	margin-right: 85px;
}

/*animations*/
#playlist-form{	
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 50px rgba(241,89,39,0.2);
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.7);
}

/*buttons style in the list*/
.songTitleInList{
	display: block;
	margin: 0 40px;
}

.btnAddSongToList{
	float:right;
	background: url(../img/plus.png);
	background-position:0 -30px;
	height:30px;
	width:30px;
	margin-top: -25px;
}
.btnAddSongToList:hover{
	background-position:-30px -60px;
	cursor: pointer;
}
.btnThumbsUp{
	float:right;
	background: url(../img/thumbs-up.png);
	background-position:0 -30px;
	height:30px;
	width:30px;
	margin:10px 3px;
	margin-top: -25px;
}

.btnThumbsUp-hover:hover {
	background-position:-30px -60px;
	cursor: pointer;
}

.btnThumbsDown{
	float:right;
	background: url(../img/thumbs-up.png);
	background-position:0 -30px;
	height:30px;
	width:30px;
	margin:10px 3px;
	margin-top: -25px;
	transform: rotate(180deg);
}

.btnThumbsDown-hover:hover {
	background-position:-30px -60px;
	cursor: pointer;
}

.btnDelete{
	float:right;
	background: url(../img/delete.png);
	background-position:0 -30px;
	height:30px;
	width:30px;
	margin:10px 3px;
	margin-top: -25px;
	transform: rotate(180deg);
}

.btnDelete:hover {
	background-position:-30px -60px;
	cursor: pointer;
}

.title2{
  text-align:center;
  font-size: 2em;
  color: rgba(0,0,0,1);
  letter-spacing: 0px;
  font-weight:700;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 
  0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 
  0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
}

#title-results-list{
	text-align:center;
  font-size: 2em;
  color: white;
  letter-spacing: 0px;
  font-weight: 700;
  text-shadow: 0 0 5px #000,0 0 10px #000;
}
#formsearch{
	display:none;
	width:500px;
	background-color: rgba(0,0,0,0.9);
	height:auto;
	overflow:hidden;
}
#formsearch .list-group > :last-child{
	margin-bottom: 35px;
}