html,body {
    width: 100%;
    height: 100%;
}

section {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg3.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

article {
	width:60%;
	display: table-cell;
	text-align:center;
	vertical-align: middle;	
	padding: 10px;
}

/*Login form*/
aside {
	width:40%;
	display: table-cell;
	text-align:center;
	vertical-align: middle;
	padding: 5px;
}

/*
footer{
	display: fixed;
	width: 100%;
	background-color: rgba(241,89,39,1);
	position: fixed;
	top:0px;
}
*/

/*input*/
#input-email,
#input-password,
#confirm-password-input {
	width: 300px;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
	color: black;
	font-weight: bold;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,0.5);
   font-weight: normal;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	color: rgba(0,0,0,0.5);
	font-weight: normal;   
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.5);
   font-weight: normal;
   font-style: italic;
}

:-ms-input-placeholder {  
	color: rgba(0,0,0,0.5);
	font-weight: normal;   
	font-style: italic;
}

/* Buttons */
.btn-dark {
    border-radius: 5px;
    color: #fff;
    background-color: rgba(241,89,39,0.7);
	margin:5px 1px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(241,89,39,1);
}

/* Page title */
.title{
  text-align:center;
  font-size: 5em;
  color:rgba(241,89,39,1);
  letter-spacing: -7px;
  font-weight:700;
  text-transform: uppercase;
  animation:blur 3s ease-out infinite;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff, 0px 0px 9px #fff;
}

.title2{
  text-align:center;
  font-size: 3em;
  color: rgba(0,0,0,1);
  letter-spacing: 0px;
  font-weight:700;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 
  0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 
  0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}

#confirm-password-input{
	display:none;
}

#btn-switch{
	cursor:pointer;
	font-size:12px;
}

/*checkbox-style*/
input[type=checkbox] {
	visibility: hidden;
}

label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:12px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.lite-orange-check{
	background-image:url(../img/lite-orange-check.png);
}

/*validate message style*/
h5{
	display: none;
	color: red;
	font-style: italic;
}