/*-------player--------*/
/*footer*/
.player-form{
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(241,89,39,0.6);
	bottom:0px;
	/*
	border: 1px dashed #ddd;
	border-bottom-style: none;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;	
	*/
}

/*animating title*/
#title-song{
	position: absolute;
	float: left;
	line-height: 50px;
	font-weight: bold;
	font-size: 20px;
	color: #fbcdbd;
	
	-webkit-animation: mymove 20s infinite alternate;
	animation: mymove 20s infinite alternate;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
/* Standard syntax */
@keyframes mymove {
    from {left: -50%;}
    to {left: 80%;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: -50%;}
    to {left: 80%;}
}

/*player: button, duration, progressbar*/
#player{
	position: relative;
	width: 100%;
	float: right;
}

#duration{
	float:left;
	line-height: 50px;
	text-align: center;
	color: white;
	margin-left:10px;
	background-color: rgba(241,89,39,1);
	font-size: 20px;
}

#progress-bar{
	position: relative;
	float:right;
	width:60%;
	height:50px;
}

/*btn player*/
#btnPlayer{
	float: right;
	width: 40px;
	height: 40px;
	margin: 5px 5px;
}
#btnPlayer:hover{
	cursor: pointer;
}
.btnPlay{	
	background-image: url(../img/play.png);
	background-position:-40px -80px;
}
.btnPlay:hover{	
	background-position:0 -40px;
}
.btnPause{	
	background-image: url(../img/pause.png);
	background-position:-40px -80px;
}
.btnPause:hover{	
	background-position:0 -40px;
}

/*btn prev & next*/
#btnNext, #btnPrev{
	float: right;
	width: 30px;
	height: 30px;
	margin: 10px 5px;
	background-image: url(../img/next.png);
	background-position:-30px -60px;
}
#btnPrev{
	transform: rotate(180deg);
}
#btnNext:hover, #btnPrev:hover{
	background-position:0 -30px;
	cursor: pointer;
}
